body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.container {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

p {
	color: #777f87;
	margin: 20px;
	line-height: 28px;
}

header {
	width: 100%;
	height: 70px;
	background-color: #353f49;
	margin-bottom: 70px;
}

#logo {
    position: absolute;
	left: 0;
	right: 0;
	margin: 30px auto;
	border-radius: 100%;
	border: 3px solid #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	color: #353f49;
	font-weight: bold;
}

h1 {
	font-size: 1.6em;
}

h1 small {
	margin: 10px 0 0 0;
	color: #a3a7ab;
	display: block;
	font-size: .7em;
	font-weight: 300;
}

hr {
	border: 0;
	outline: 0;
	margin: 30px;
	border-top: 1px solid #eee;
}

a {
	color: #353f49;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #697785;
}

.available {
	color: #69994f;
}

.unavailable {
	color: #994f4f;
}